*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 40vh 90vh;
    border: 2px solid white;
    border-radius: 20px;
}
button:hover{
    color: black;
    background-color: white;
}