body{
    background: rgb(72, 72, 228);
}
.stopwatch{
    width: 90%;
    max-width: 600px;
    background-color: black;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}
.buttons button{ 
    width: 70px;
    height: 35px;
    margin: 0 10px;
    font-weight: bold;
    background-color: rgb(72, 72, 228);
    box-shadow: 0px 10px 10px rgba(72, 72, 228, 0.5);
    cursor: pointer;
    border: 1px solid rgb(72, 72, 228);
    border-radius: 30px;
}

.buttons button:hover{
    border: 2px solid yellow;
    color: #fff;
    background-color: black;
    box-shadow: 0px 10px 10px rgb(204, 204, 46);
}